<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betterops.passport.mapper.UserMapper">
    <cache />

    <select id="getAllUsers" resultType="User">
        SELECT id, firstName, lastName, email FROM users
    </select>
</mapper>